.mainHeader {
    padding: 30px 0;
    border-bottom: 1px solid #dddcdc;
    .header-description {
        margin-top: 10px;
        line-height: 150%;
    }
    .list-wrapper {
        margin-top: 20px;
        .icon-wrapper {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #00b348;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                color: white;
            }
        }
    }
}
