.home {
    .support {
        margin-top: 50px;
        .image-wrapper {
            height: 250px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
}
